.home {
    min-width: 100vh;
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
  }
  
  .breakfast {
    min-width: 100vh;
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);

  }
  
  .dinner {
    min-width: 100vh;
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);

  }

  .desserts {
    min-width: 100vh;
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);

  }
  
  .search-form {
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .search-bar {
    width: 50%;
    border: none;
    padding: 10px;
  }
  
  .search-button {
    background: rgb(8, 171, 189);
    border: none;
    padding: 10px 20px;
    color: black;
  }

  .recipes {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
  }

  .cardTitle {
    font-size: 20px;
    font-style: italic;
    color: red;
  }

  .cardIngredients {
    color: cadetblue;
    text-decoration: underline;
  }

  .websiteLink {
    color: rgb(215, 89, 44);
  }

  .bootstrapCard {
    padding-bottom: 20px;
  }