.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(73, 79,92);
  color: white;
}
.nav-Links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;

}

.HomePageImage {
  width: 100%;
  height: 100%;
}

.HomePageHeading {
  color: black;
  font-size: 30px;

}