.App {
  text-align: center;
}
nav {
  font-size: 20px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(8, 171, 189);
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  /* background-image: url(./components/images/woodTexture.jpeg); */
  background-color: rgb(77, 77, 77);
  color: rgb(8, 171, 189);
}
.nav-Links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;

}

.HomePageImage {
  width: 100%;
  height: 100%;
}

.HomePageHeading {
  color: rgb(8, 171, 189);
  font-size: 32px;
}